.clientHud .clientHudTitle {
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
  color: white;
  width: 95vw;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-color: white;
  border-style: solid;
  border-width: 0.5vw 0.5vw 0 0.5vw;
  box-sizing: border-box;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  height: 8vw;
  line-height: 8vw;
}

.clientHud .clientHudPlayerColorBlue > .clientHudTitle {
  background-color: darkblue;
}
.clientHud .clientHudPlayerColorRed > .clientHudTitle {
  background-color: maroon;
}

.clientHud .clientHudPlayerResources {
  position: relative;
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  text-align: center;
  justify-content: center;
}

.clientHud .clientHudPlayerResources div:first-child {
  border-bottom-left-radius: 2vw;
}

.clientHud .clientHudPlayerResources div:last-child {
  border-right: 0.5vw solid white;
  border-bottom-right-radius: 2vw;
}

.clientHud .clieentHudResourceTotal {
  width: 19vw;
  line-height: 10vw;
  vertical-align: middle;
  font-size: 5vw;
  border-color: white;
  border-style: solid;
  border-width: 0.5vw 0 0.5vw 0.5vw;
  box-sizing: border-box;
  background-color: #333;
}


.clientHud .clieentHudResourceTotal img {
  width: 8vw;
  height: 8vw;
  vertical-align:middle;
  padding-right: 2vw;
}

.clientHud .recievedResources {
  position: relative;
}

.clientHud .recievedResources .resourcesGained {
  position: absolute;
  z-index: 2;
  top: -3vh;
  color: yellow;
  font-size: 4vw;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  opacity: 1;
  transition: opacity 2s; 
}

.testClass {
  opacity: 0 !important;
}

.clientHud .recievedResources .resourceGainedLumber {
  left: 8vw;
}
.clientHud .recievedResources .resourceGainedBrick {
  left: 27vw;
}
.clientHud .recievedResources .resourceGainedWool {
  left: 46vw;
}
.clientHud .recievedResources .resourceGainedWheat {
  left: 65vw;
}
.clientHud .recievedResources .resourceGainedOre {
  left: 84vw;
}

.clientHud .recievedResources img {
  width: 8vw;
  height: 8vw;
}