.gameBoard {
    width: 100%; /* Adjust size as needed */
    /*height: 88.095%;*/
    min-height: 88.095vw;
    /*height: auto;*/
    background-color: #3498db;
}

.clientGameBoardHolder {
  border-bottom: 1vw solid white;
  border-top: 1vw solid white;
}

.hideBoard {
  display: none;
}


.hex {
    fill: #3498db; /* Hexagon fill color */
    stroke: #ffffff; /* Border color */
    stroke-width: 2px; /* Border thickness */
}

.Pasture {
  fill: rgb(122, 202, 90);
}

.Forest {
  fill: forestgreen;
}

.Fields {
  fill: rgb(233, 221, 112);
}

.Hills {
  fill: rgb(194, 108, 28);
}

.Mountains {
  fill: grey;
}

.Desert {
  fill: rgb(229, 207, 158);
}

.ThiefSelectTileButton {
  fill: white;
  fill-opacity: 0.2;
  stroke: white;
  stroke-width: 1px;
  transition: fill-opacity 0.3s, fill 0.3s;
  touch-action: none;
}

.ThiefSelectTileButton:hover {
  fill: yellow;
  fill-opacity: 0.4;
  cursor:pointer;
}

.hex-grid text {
  font-family: "Ranchers", sans-serif;
  font-weight: 400;
  font-style: normal;
  fill: white;
  stroke: #111;
  stroke-width: 2px;
  paint-order: stroke;
  filter: drop-shadow( 1px 1px 0.5px rgba(0, 0, 0, 0.4));
}

.numberCircle {
  fill: white;
  stroke: #111;
  stroke-width: 2px;
  paint-order: stroke;
  filter: drop-shadow( 1px 1px 0.5px rgba(0, 0, 0, 0.4));
}

.bigNumber text {
  fill: red;
}

.bigNumber circle {
  fill: red;
  
}

.cornerNodeBuildable {
  transition: fill 0.3s;
  fill: white;
  stroke: white;
  filter: drop-shadow(.02vw 2px 5px rgba(0,0,0,0.8));
  touch-action: none;
}

.cornerNodeBuildable:hover {
  fill: yellow;
  cursor:pointer;
}

.hideBuildSettlementButton {
  display: none;
  pointer-events: none;
}

.hideBuildCityButton {
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.roadNodeBuildable {
  transition: stroke 0.3s;
  stroke: white;
  filter: drop-shadow(.02vw 2px 5px rgba(0,0,0,0.8));
  touch-action: none;
}

.roadNodeBuildable:hover {
  stroke: yellow;
  cursor:pointer;
}

.cornerNodeSettlment {
  fill: blue;
}