.clientMenu {
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  width: 100%;
  padding-top: 5vw;
  text-align: center;
}

.clientMenu h2{
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.clientMenu button {
  width: 90vw;
  background-color: darkblue;
  border: 0.5vw solid white;
  border-radius: 4vw;
  color: white;
  margin-bottom: 5vw;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 3px 3px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.8);
}
.clientMenu button:disabled {
  pointer-events: none;
  background-color: #333;
  color: #999;
  border-color: #999;
}

.clientMenu button img {
  height: 5vw;
  width: 5vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}

.clientMenu button:disabled img {
  filter: grayscale(80%);
}

.clientMenu button img.notEnoughResources {
  filter: grayscale(100%);
  opacity: 0.5;
}

.clientMenuColorBlue button { 
  background-color: darkblue;
}
.clientMenuColorRed button { 
  background-color: maroon;
}

.clientMenu button:active {
  background-color:#220e6b;
  border-color: lightblue;
  margin-left: 8px;
  margin-top: 8px;
  box-shadow: none;
  box-shadow: -3px -3px 3px rgba(0, 0, 0, 0.5), 3px -3px 3px rgba(0, 0, 0, 0.5), -3px 3px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.clientMenuColorBlue button:active {
  background-color:#220e6b;
  border-color: lightblue;
}
.clientMenuColorRed button:active {
  background-color:#410b0b;
  border-color: pink;
}

.buildMenu button{
  padding-top: 1vh;
  padding-bottom: 1vw;
}